In [3]:
# this line prints hello world
print ("Hello World")

Hello World

Variables,
Rules for Creating Var,
input/output,
data types, 
type(operators)

In [1]:
# you cannot use a number, (-)hyphen, space in between
myvar = 10
print(myvar)

10

In [4]:
print(" hello world pyweek")
# writing word in next line, after 3 spaced we use "Escape Sequence"
print(" hello world \n \t pyweek") # \t adds 3 spaces called as "tabspace"

# acc. to python here 
# It is Case Sensitive ( P != p )
# Similarly it is also space sensitive - intendation error

 hello world pyweek
 hello world
 	 pyweek

In [28]:
myage=5
yourage = input("Enter your age")
print(yourage)

#ab=input()
#print(ab)

afd
qw

Data Types : Number, Int, Float, complex, text-string, boolean

In [33]:

a=56         
b=5.6   
c=2j    
type(a) # duplicate line (Alt + Shift + down arrow)
type(b)
type(c)
#bool(a)

complex

In [55]:
6+3; 6-3; 6/3; 6%3; 6//3; 6**3
52/3
52//3
2**3

8

Assignment Operators: 
    = 
    += 
    -= 
    *= 
    /= 
    %=

In [79]:
#ab=5 ;ab==6
age1=5
shujath =19
shujath%=age1

print(shujath)

4

Python Comparision Operator

Comparision Operators are used to compare two variables
> < <= >= ==

In [13]:
a=10
b=16
print(a<=b)

True

Python Logical Operator

    Logical Operators are used to combine conditional statements:
    and, or, not
    x < 5 and x < 10
    x < 5 and x < 4
    not(x < 5 and x < 10)

In [23]:
x=12
print(not(x<10 and x>3))

True

## Operator Precedence
PEDMAS :

() ** * / + -

we use it when many operators come in one single line, which operator gets more precedence

In [24]:
print((6+3) - (6+3))

0

In [25]:
print(100 + 5 * 3)

115

In [ ]:
print( 5 + 4 - 7 + 3)